$white: #FFFFFF;
$black: #111111;
$gray: #F5F5F5;

$blue: #003366;
$blue-light: rgba($blue,0.1);

$orchid : #B163A3;

$secondary-color: $orchid;

$green-steroid: rgb(160, 236, 111);

$sc-facebook: #3B5998;
