.fa-lg {
  margin-right: rem-calc(5);
}

.fa-phone-square {
  color: $green-steroid;
}

.fa-facebook-square {
  color: $sc-facebook;
}

.l-button {
  margin-top: rem-calc(20);
}

.m-separator {
  margin: rem-calc(50) 0;
}

.m-footer {
  background-color: $blue;
  color: $white;
}
