.m-intro {
  .m-intro--image {
    background-image: url(image-path('chamber/bed.jpg'));
    background-position: center top;
    background-repeat: no-repeat;
  }

  .l-button {
    margin-bottom: rem-calc(200);
  }
}

.m-intro--title {
  font-weight: $font-weight-bold;
  color: $white;
  text-shadow: $text-shadow;
  padding: rem-calc(350) 0 0;
  @media #{$small-only} {
    padding: rem-calc(150) 0 0;
  }
  small {
    color: $white;
  }
}
