.m-intro {
  background-image: url(image-path('girl_blur.jpg'));
  background-position: center top;
  background-repeat: no-repeat;
  .l-button {
    margin-bottom: rem-calc(200);
  }
}

.m-intro--title {
  font-weight: $font-weight-bold;
  margin: rem-calc(350) 0 0;
  color: $white;
  text-shadow: $text-shadow;
  small {
    color: $white;
  }
}

.m-intro--image {

}

.l-button {
  margin-top: rem-calc(20);
}
