#top
= partial 'views/front/header'
= partial 'views/front/intro'
#js-photos
= partial 'views/separator'
= partial 'views/front/contact'
#js-map
= partial 'views/separator'
= partial 'views/front/photos'
#js-contact
= partial 'views/separator'
= partial 'views/front/map'
= partial 'views/front/footer'
