---
title: Mentions légales
---

.row
  .medium-12.columns
    h1 La chambre des anges

.row
  .medium-12.columns
    h2 Propriété du site
    p Vous êtes actuellement connecté au site internet www.cambredesanges.be.

    h2 Licence
    p
      'Le contenu est sous licence
      = link_to 'creative commons', 'http://creativecommons.org/licenses/by/3.0/deed.fr'
      '. Vous êtes libre de
      strong
        'copier ou remixer
      'ce site, à condition de citer son auteur.

    h2 Directeur de la publication
    p Loi du 29 juillet 1982 sur l’audiovisuel, loi 2000-79 du 1er août 2000.
    p Monsieur David Leuliette, en qualité d'administrateur et développeur front-end.

    h2 Hébergement
    p Loi du 1er août 2000 articles 43-8 à 43-10.
    p GitHub

.row
  .small-8.medium-6.small-centered.columns
    = link_to '/#js-contact', class: 'button secondary expand l-button' do
      'Réserver la chambre
      i.fa.fa-lg.fa-caret-right

= partial 'views/front/footer'
